<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodibooks.mapper.AnswerMapper">

	  <insert id="answerWriteBoard" parameterType="AnswerVO">
	  	INSERT INTO answer (ans_no,  ans_content, no)
	  	VALUES (qna_a_seq.nextval, #{ans_content}, #{no})
	  </insert>
	   
	  <select id="selectAnswerByAskNo" resultType="AnswerVO" parameterType="int">
		SELECT ans_no, ans_content, no
		FROM answer
		WHERE no = #{ no }
		ORDER BY ans_no DESC
	  </select>
	  
	  <update id="updateAnsCheck" parameterType="QnAVO">
		UPDATE qna 
		SET ans_check = '1' 
	  </update>
	   
</mapper>