<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodibooks.mapper.AnswerMapper">

	  <insert id="answerWriteBoard" parameterType="AnswerVO">
	  	INSERT INTO answer (ans_no,  ans_content)
	  	VALUES (qna_a_seq.nextval, #{ans_content})
	  </insert>
	   
	  <select id="selectAnswerByAnsNo" resultType="AnswerVO" parameterType="int">
		SELECT ans_no, ans_content
		FROM answer
		WHERE ans_no = #{ ans_no }
	  </select>
	   
</mapper>