<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodibooks.mapper.BoardMapper">

	<select id="selectNotice" resultType="BoardVO">
		SELECT no, title, regdate, updatedate, deleted
		FROM board
		WHERE deleted = '0'
		ORDER BY no DESC
	</select>
	
	<insert id="insertNotice" parameterType="BoardVO">
		<selectKey keyProperty="no" resultType="int" order="AFTER">
			SELECT board_seq.currval FROM DUAL
		</selectKey>
		INSERT INTO board (no, title, content)
		VALUES (board_seq.nextval, #{title}, #{content})
	</insert>
	
	<select id="selectNoticeByNo" parameterType="int" resultType="BoardVO">
		SELECT no, title, content, regdate, updatedate
		FROM board
		WHERE no = #{ no } AND deleted = '0'
	</select>
	

</mapper>