<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodibooks.mapper.BookMapper">

	<!-- 책 상세 보기 -->
	<select id="selectBookByBookNo" parameterType="int" resultType="BookInfoVO">
		select book_no, name, price, intro, writer, translator, p.pub_name, c.category_name, contents
		from book_info b, publisher p, category c 
		where book_no = #{book_no} and b.pub_no = p.pub_no and c.category_no = b.category_no
	</select>
	<select id="selectImgByBookNo" parameterType="int" resultType="BookImgVO">
		select img from book_img where book_no = #{book_no}
	</select>
	
	<!-- 책 리스트 -->
	<select id="selectBooks" resultType="BookInfoVO">
		select book_no, name, price, intro, writer, translator, p.pub_name, c.category_name, contents
		from book_info b, publisher p, category c 
		where b.pub_no = p.pub_no and c.category_no = b.category_no
	</select>
	<!-- 전체 책 개수 -->
	<select id="bookCount" resultType="int">
		select count(*) from book_info
	</select>
	
	<!-- 카테고리 리스트 -->
	<select id="selectCategorys" resultType="CategoryVO">
		select category_no, category_name from category
	</select>
	<!-- 카테고리별 책 개수 -->
	<select id="bookCountByCategoryNo" parameterType="int" resultType="int">
		select count(category_no) from book_info where category_no = #{categoryNo} group by category_no
	</select>
	
	<!-- 책 검색 -->
	<sql id="searchCondition">
		<trim suffix=" like '%'||#{searchKey}||'%'">
				<choose>
			<when test="searchType == 'T'.toString()">
				b.name
			</when>
			<when test="searchType == 'W'.toString()">
				b.writer
			</when>
			<when test="searchType == 'C'.toString()">
				category_name
			</when>
			<when test="searchType == 'P'.toString()">
				pub_name
			</when>
		</choose>
		</trim>

	</sql>
	<select id="searchBook" parameterType="hashmap" resultType="BookInfoVO" >
		select book_no, name, price, intro, writer, translator, p.pub_name, c.category_name, contents
		from book_info b, publisher p, category c 
		where b.pub_no = p.pub_no and c.category_no = b.category_no and 
		<include refid="searchCondition"></include>
	</select>
	
</mapper>



