<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodibooks.mapper.PurchaseMapper">

	<insert id="orderInfoPlus" parameterType="OrderInfoVO">
	  	INSERT INTO order_info (no, id, af_price, book_no)
	  	VALUES (order_seq.nextval, #{id}, #{af_price}, #{book_no})
	</insert>
	
	<update id="deleteOrder" parameterType="int">
		UPDATE order_info
		SET deleted = '1' 
		WHERE no = #{ no }
	</update>
	<!-- 
	<insert id="orderDetailPlus" parameterType="OrderDetailVO">
	  	INSERT INTO order_info (detail_no, book_no, no2, detail_cnt, detail_price)
	  	VALUES (order_detail_seq.nextval, #{book_no}, #{no2}, #{detail_cnt}, #{detail_price})
	</insert>
	    -->
</mapper>